<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Photo scanner</title>
    <link rel="stylesheet" href="./../public/home.css" type="text/css" />
  </head>
  <body>
    <div class="card">
      <h1>Podaj pełny adres strony, z której chcesz pobrać zdjęcia</h1>
      <form action="/skanuj" method="post">
        <input type="text" name="url" placeholder="https://..." />
        <button>Skanuj</button>
      </form>
    </div>
  </body>
</html>
